*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: wheat;
}
html,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative
}
.elem{
    height: 100px;
    width: 100%;
    border-bottom: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.elem h1{
    font-size: 5vw;
    position: relative;
    z-index: 5;
    mix-blend-mode: difference;
}
.elem img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: center ;
    border-radius: 50%;
    position: absolute;
    opacity: 0;
    transition: all linear 0.2s;
}