body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* practice 1  */
/* .div1{
    background-color: gold;
    text-align: center;
    width: calc(100% - 200px);
    margin: auto;
    font-size: 50px;
    padding: 10px;
} */



/* practice 2  */
/* .div2 {
    border: 5px solid black;
    width: calc(100% - 200px);
    margin: auto;
    font-size: calc(3vw - 10px);
}
.div2 p{
    padding: 50px;
} */



/* practice 3  */
/* .div3 {
    border: 5px solid red;
    font-size: max(4vw, 2em, 2rem);
    margin: auto;
    font-size: 50px;
} */

/* practice 4  */

.image {
    width: calc(100% - 200px);
    margin: auto;
    background: url(https://source.unsplash.com/RapCPd_mJTU/800x800) no-repeat center;
    background-size: min(100% - 100px);
}

.image p {
    border: 5px dotted red;
    padding: 100px;
    color: aliceblue;
}